<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ $css := "css/gamology.css" | absURL }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ $css }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>{{ .Title }}</title>
  </head>  
  <body>
    {{ $logo := "images/logo.png" | absURL }}
    {{ $logoTitle := "images/logo_title.png" | absURL }}
    <main>
      <img class="logo" width="50%" src="{{ $logo }}">
      <div class="vertically-aligned">
        <span class="huge">hello, this is</span>
        <img class="title" width="50%" src="{{ $logoTitle }}">
      </div>
    </main>
  </body>
</html>